

ul.playListStyle {
    list-style-type: none;
    color: white;
    font-weight: bold;
    counter-reset: video-number-counter;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: right;
}

ul.playListStyle li:before {
    content: counter(video-number-counter) ;
    counter-increment: video-number-counter;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -20px;
    padding: 0px;
    border: 0;
}

li.videoSelection {
    border-bottom: 1px solid dimGrey;
}

li.videoSelection:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-bottom: 1px solid grey;
}

li.videoSelected {
    background-color: red;
}

img.vignetteVideo {
    width:  220px;
    height: 60px;
}

li.playlistSelection:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-bottom: 1px solid dimGrey;
}

li.playlistSelection {
    margin: 2px;
    border-style: solid; 
    border-color: rgb(235, 235, 235); 
    border-width: 0 0 1px 0;
    width: 870px;
}

.playlistSelected {
    background-color: red;
}

table.playlistAvailable {
    width: 900px;
    height: 60;
    background-color: rgb(235, 235, 235);
    border-collapse: collapse; 
}

th.playlistTitle {
    padding-left: 10px;
    text-align: left;
    width: 180px;
}

th.playlistImage {
    width: 107px;
}

th.playlistDescription {
    padding-left: 10px;
    text-align: left;
    width: 423px;
}

th.playlistTime {
    text-align: right;
    padding-right: 10px;
    width: 130px;
}


